<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="96x96" />
    
    
</head>
<body>
       <header>
        <nav>
            <div class="logo">
                <div class="logo-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path d="M17 10c.7-.7 1.69 0 2.5 0a2.5 2.5 0 1 0 0-5 .5.5 0 0 1-.5-.5 2.5 2.5 0 1 0-5 0c0 .81.7 1.8 0 2.5l-7 7c-.7.7-1.69 0-2.5 0a2.5 2.5 0 0 0 0 5c.28 0 .5.22.5.5a2.5 2.5 0 1 0 5 0c0-.81-.7-1.8 0-2.5Z"></path></svg>
                </div>
                <span>BoneScan AI</span>
            </div>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/#how-it-works">How It Works</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main class="about_main">
        <h1 class="head-about">About this website</h1>
        <div class="about_content">
            <div class="about_heading">
                <h2 class="heading1">Bone Fracture Detection Using YOLOv8</h1>
                <p class="head1-content">This project is an educational initiative focused on leveraging deep learning to detect and classify bone fractures from X-ray images. Built using the state-of-the-art YOLOv8 (You Only Look Once) object detection model, the system is designed to assist in identifying different types of fractures with high speed and accuracy.</p>
                <h2 class="heading2">Project Overview</h2>
                <p class="head2-content">The goal of this project is to explore the application of AI in medical imaging, particularly in the early and reliable detection of bone fractures. By utilizing YOLOv8, we aim to demonstrate how modern computer vision techniques can contribute to the healthcare domain, even in educational and research contexts.</p>
                <h2 class="heading3">Dataset</h2>
                <p class="head3-content">The model was trained and tested on a curated dataset comprising 9,000+ labeled X-ray images, categorized into six distinct classes of fracture types. This diverse dataset allows the model to generalize well and distinguish between various fracture patterns.</p>
                <h2 class="heading4">Key Features</h2>
                <p class="head3-content"><ul>
                    <li><strong>Real-time Detection:</strong> YOLOv8 provides rapid inference, making it suitable for potential real-world applications where time is critical.</li>
                    <li><strong>Multi-Class Classification: </strong>Capable of identifying six different types of fractures with bounding boxes and class labels.</li>
                    <li><strong>Educational Focus:</strong> Developed as a part of an academic exploration to understand the intersection of machine learning and medical diagnostics.</li>
                </ul></p>
                <h2 class="disclaimer">Disclaimer!</h2>
                <p class="head4_content">This project is intended solely for educational and research purposes. It is not a certified medical tool and should not be used for actual medical diagnosis or treatment without professional oversight.</p>
            </div>
        </div>
    </main>
    
</body>
</html>